.bg-primary-own {
    background-color: #064420 !important;
}
h1, h2, h3, h4, h5, h6, .text-btn-type {
    font-family: 'Pacifico', cursive;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.login-text-title {
    font-size: 2.6em;
}
.login-text-subtitle-{
    font-size: 1.6em;
}
.login-text-img-title {
    font-size: 3.5em;
}
.login-text-img-subtitle{
    font-size: 2em;
}
p, .text-cuino{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Caveat', cursive;
}
.bg-gradient-primary {
    background-image: linear-gradient(310deg, #064420 0%, #064420 100%);
}
.btn-cuino-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #064420;
    --bs-btn-border-color: #064420;
    --bs-btn-hover-color: #064420;
    --bs-btn-hover-bg: #FDFAF6;
    --bs-btn-hover-border-color: #064420;
    --bs-btn-focus-shadow-rgb: 80, 97, 194;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #064420;
    --bs-btn-active-border-color: #064420;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #064420;
    --bs-btn-disabled-border-color: #064420;
}
a {
    color: #064420;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
a:hover {
    color: rgb(6, 68, 32, 0.7);
    text-decoration: none;
}
/* navbar */
.nav-bar:hover {
    color: rgb(255, 255, 255, 0.5);
    text-decoration: none;
}

/* Profile */
.side-menu {
    background-color: #FDFAF6;
}
.header-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Caveat', cursive;
    color: #064420;
}
.text-cuino-sidenav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Caveat', cursive;
    transition: all .2s ease-in-out;
}
.text-cuino-sidenav:hover {
    font-size: 1.6rem;
    color: #064420;
}
.my-details {
    margin-left: 5rem;
    margin-right: auto;
}
label {
    color: #000;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #064420;
    --bs-btn-border-color: #064420;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #064420;
    --bs-btn-hover-border-color: #064420;
    --bs-btn-focus-shadow-rgb: 80, 97, 194;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #064420;
    --bs-btn-active-border-color: #064420;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #064420;
    --bs-btn-disabled-border-color: #064420;
}
/* .text-primary-own {
    color: #064420;
} */
.button-logout-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px auto 10px;
}
.about-us-description {
    width: 70%; margin: 0px auto; background-color: #06442087;
}

@media screen and (min-width: 1024px) {
    .seccion-boton-logout{
        width: 15%; 
        margin-top: auto; 
        margin-bottom: auto;
    }
    .nav-plus-1024{
        display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;
    }
    .icon-boton-log-out-media-Plus-that-1024xp {
        font-size: 1.5em; 
        margin: auto;
    }
    .boton-log-out-media-Plus-that-1024xp {
        font-size: 1.5em; 
        margin-top: auto; 
        margin-bottom: auto; 
        margin-right: 0.5em;
    }
    .item-menu-1024{
        font-size: 1.3em; 
        margin-left: 1.7em;
    }
    .icono-nav-1024 {
        width: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .boton-salir{
        float: right; width: 70%; 
        border-radius: 10px; 
        border: none; display: 
        flex; flex-direction: row; 
        align-items: center; 
        justify-content: 
        space-around; 
        margin-top: auto; 
        margin-bottom: auto;
    }
    .icono-cuino-grande {
        width: 100%;
    }
    .ul-menu-cuino{
        width: 70%; 
        height: auto; 
        align-self: center; 
        margin-top: auto; 
        margin-bottom: auto;
    }
}

@media screen and (min-width: 953px) and (max-width: 1024px) {
    .seccion-boton-logout{
        width: 15%; 
        margin-top: auto; 
        margin-bottom: auto;
    }
    .boton-salir{
        float: right; width: 70%; 
        border-radius: 10px; 
        border: none; display: 
        flex; flex-direction: row; 
        align-items: center; 
        justify-content: 
        space-around; 
        margin-top: auto; 
        margin-bottom: auto;
    }
    .boton-log-out-media-1024xp {
        display: none;
    }
    .icon-boton-log-out-media-Plus-that-1024xp {
        font-size: 1.7em; 
        margin: auto;
    }
    .icono-nav-1024 {
        width: 15%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .item-menu-1024{
        font-size: 1.3em; 
        margin-left: 1.7em;
    }
    .icono-cuino-grande {
        width: 100%;
    }
    .ul-menu-cuino{
        width: 70%; 
        height: auto; 
        align-self: center; 
        margin-top: auto; 
        margin-bottom: auto;
    }
}

@media screen and (min-width: 664px) and (max-width: 953px) {
    .seccion-boton-logout{
        width: 15%; 
        margin-top: auto; 
        margin-bottom: auto;
    }
    .boton-salir{
        float: right; width: 70%; 
        border-radius: 10px; 
        border: none; display: 
        flex; flex-direction: row; 
        align-items: center; 
        justify-content: 
        space-around; 
        margin-top: auto; 
        margin-bottom: auto;
    }
    .boton-log-out-media-769px {
        display: none;
    }
    .icon-boton-log-out-media-Plus-that-769px {
        font-size: 1.5em; 
        margin: auto;
    }
    .item-menu-768{
        font-size: 1em; 
        margin-left: 1em;
    }
    .icono-nav-769 {
        margin-top: auto;
        margin-bottom: auto;
        width: 15%;
    }
    .icono-nav-769 img {
        margin-top: auto;
        margin-bottom: auto;
        font-size: larger;
    }
    .icono-cuino-grande {
        width: 100%;
    }
    .ul-menu-cuino{
        width: 70%; 
        height: auto; 
        align-self: center; 
        margin-top: auto; 
        margin-bottom: auto;
    }
}

@media screen and (min-width: 0px) and (max-width: 664px) {
    .boton-log-out-media-769px {
        display: none;
    }
    .boton-log-out-media-1024xp {
        font-size: 1em; 
        margin-top: auto;
        margin-bottom: auto; 
        height: 100%; 
        text-align: center;
        margin-right: 0.5em;
    }
    .icon-boton-log-out-media-Plus-that-1024xp {
        font-size: 1.5em; 
        margin: auto;
    }
    .item-menu-600{
        font-size: 0.7em; 
        margin-left: 0.4em;
        width: 100%;
        height: auto;
        z-index: 100;
    }
    .nav-less-950{
        width: 100%;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: space-evenly;
    }
    .icono-nav-600 {
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: flex; 
        flex-direction: row;
        justify-content: center;
    }
    .icono-cuino-grande-600 {
        width: 150px;
        z-index: 100;
    }
    .ul-menu-cuino{
        width: 100%; 
        height: auto; 
        align-self: center; 
        margin-top: auto; 
        margin-bottom: auto;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;
    }
    .boton-salir-600{
        float: right; 
        width: 10%; 
        border-radius: 10px; 
        border: none; 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-around; 
        margin-top: 25px; 
        margin-right: 10px;
    }
    .seccion-boton-logout{
        width: 100%; 
        height: 100%;
        position: absolute;
    }
    .my-details {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}